*{
    background: #F3F5FC;
    font-family: 'Indie Flower', cursive;
    /* font-family: 'PT Serif', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
}
.logo{
    padding-top: 15px;
    margin-left: 15px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 50px;
    text-transform: lowercase;
}

::placeholder{color: #0A3871;}

.text-area:focus{
    outline: none;
}